PySide6
Pillow
cryptography
piexif
face_recognition
setuptools
scikit-learn
mypy
numpy
opencv-python-headless
rawpy
watchdog
Send2Trash
requests
google-auth
google-auth-oauthlib
google-api-python-client

