[Desktop Entry]
Name=VisageVault
Comment=Gestor de Fotografías Inteligente
Exec=VisageVault
Icon=visagevault
Type=Application
Categories=Graphics;Photography;
